In [1]:
2234

2234

In [2]:
"vipin"

'vipin'

In [3]:
print("vipin")

vipin

In [4]:
print(1,2,3)

1 2 3

In [5]:
print("thor love and thunder",2022)

thor love and thunder 2022

In [7]:
print('this is a line')
print('another line ')
print('and the final text line ')

this is a line
another line
and the final text line

In [9]:
a=10
b=22
c= 50
print(a, b)
print(a)

10 22
10

In [10]:
city='lucknow'
state='uttar pradesh'
name='vipin'

In [11]:
name= 'raju'

In [12]:
name2 = 'vipin'

In [14]:
food = input()

In [15]:
print(food)

aloo

In [16]:
a = 'apple'
type(a)

str

In [17]:
a = 101
type(a)

int

In [18]:
a = "300"
print(a,type(a))

300 <class 'str'>

In [19]:
b = int(a)

In [20]:
print(b,type(b))

300 <class 'int'>

In [21]:
print(a,type(a))

300 <class 'str'>

In [22]:
a = input("enter A=")
b = input("enter B=")
print(type(a),type(b))

<class 'str'> <class 'str'>

In [23]:
a = int(a)
b = int(b)
print(a+b)

7

In [26]:
num1 = int(input("enter number1"))
num2 = int(input("enter number2"))
ansewr = num1 * num2
print(ansewr)

48