In [1]:
2234

2234

In [2]:
"vipin"

'vipin'

In [3]:
print("vipin")

vipin

In [4]:
print(1,2,3)

1 2 3

In [5]:
print("thor love and thunder",2022)

thor love and thunder 2022

In [6]:
print('this is a line')
print('another line ')
print('and the final text line ')

this is a line
another line
and the final text line

In [7]:
a=10
b=22
c= 50
print(a, b)
print(a)

10 22
10

In [8]:
city='lucknow'
state='uttar pradesh'
name='vipin'

In [9]:
name= 'raju'

In [10]:
name2 = 'vipin'

In [11]:
food = input()

In [12]:
print(food)

4

In [13]:
a = 'apple'
type(a)

str

In [14]:
a = 101
type(a)

int

In [15]:
a = "300"
print(a,type(a))

300 <class 'str'>

In [16]:
b = int(a)

In [17]:
print(b,type(b))

300 <class 'int'>

In [18]:
print(a,type(a))

300 <class 'str'>

In [19]:
a = input("enter A=")
b = input("enter B=")
print(type(a),type(b))

<class 'str'> <class 'str'>

In [20]:
a = int(a)
b = int(b)
print(a+b)

8

In [21]:
num1 = int(input("enter number1"))
num2 = int(input("enter number2"))
ansewr = num1 * num2
print(ansewr)

16

# Markdowm

# operators

In [22]:
x = 10
y = 3

In [23]:
x + y

13

In [24]:
x - y

7

In [25]:
x * y

30

In [26]:
x/y

3.3333333333333335

In [27]:
x%y

1

In [28]:
x//y

3

In [29]:
x**y

1000

In [30]:
x+=5

In [31]:
y+=5

In [32]:
x+=10
y+=7

In [33]:
z = 4
z+=6

In [34]:
x>10

True

In [35]:
x<y

False

In [36]:
y>x

False

In [37]:
x==y

False

In [38]:
'apple'=="Apple"

False

In [39]:
'apple'=='apple'

True

In [40]:
'apple'=="apple"

True

In [41]:
x!=y

True

In [42]:
x>5 and x>100

False

In [43]:
x>4 and x<100

True

In [44]:
x>5 or x>1

True

In [45]:
not x>100

True

In [46]:
not y<x

False

In [47]:
not y>10

False

In [48]:
x is  y

False

In [49]:
y is z

False

In [50]:
x is not y

True

# Membership operator

a = [1,3,8,10,2]

In [51]:
a = [1,2,3,4,5]

In [52]:
2 in a

True

In [53]:
5 in a

True

In [54]:
10 in a

False

formatted string and msg.

In [55]:
## string and massage

## string

In [56]:
l = 10.5
b = 6.10
area = l*b
print(area)
print(l,b,area)
print("{}*{}={}".format(l,b,area))
print(f'{l}*{b}={area}')

64.05
10.5 6.1 64.05
10.5*6.1=64.05
10.5*6.1=64.05

In [57]:
print(f'{l}*{b}={area:.1f}')

10.5*6.1=64.0

In [58]:
a = 10
b = 20
if a<b:
    print('this is great')
    print(f'{a} is greater than {b}')

this is great
10 is greater than 20

In [59]:



data = input("enter a data:")
if data.isalpha():
    print('this is a string')
if data.isnumeric():
    print("this is a number")
if data.isspace():
    print("this is a space")

In [60]:
temp = 5
if temp >25:
    print("It is hot")
else:
    print("It's cool")

It's cool

In [61]:
fruit = input("what fruit do you like:")
if fruit =='apple':
    print('An apple a day keeps the doctor away')
elif fruit == 'mango':
    print('mango is the king of fruits')
elif fruit== 'banana':
    print('banana is a good source of potassium')
elif fruit == 'orange':
    print('orange is a good source of vitamin')
elif fruit == 'kewi':
    print('kewi is vipin fav fruit')
else:
    print('Not found in the Database')

Not found in the Database

In [62]:
username = input("Enter your username:")
password = input("Enter your password:")
if username == 'sam':
    if password == '123':
        print('welcome sam')
    else:
        print('wrong password')
else:
    print('wrong username or password')

wrong username or password

In [63]:
if username == 'ram' and password == '234':
    print('welcome ram')
else:
    print('wrong username or password')

wrong username or password

# wap to calculate the employee total salary based on following conditions 
-if the basic salary is less than 10000 then the hra is 10% of basic salary and da is 90% of basic salary
-if basic salary is greater than 10000 then hra is 20% of basic salary and da is 80% of basic salary 
-if basic salary is grater than 20000 then hra is 25% of bsic salary and da is 75% of basic sakary

In [64]:
basicsalary = float(input("Enter your salary:"))
if basicsalary < 10000:
    hra = 0.1*basicsalary
    da = 0.9*basicsalary
elif basicsalary >10000:
    hra = 0.2*basicsalary
    da = 0.8*basicsalary
elif basicsalary >20000:
    hra = 0.25*basicsalary
    da = 0.75*basicsalary
total = basicsalary+ hra + da
print(f'basicsalary =>{basicsalary}')
print(f'hra =>{hra}')
print(f' da=>{da}')
print(f'total=>{total}')

ValueError: could not convert string to float: ''

# match cases

In [ ]:
icecream = input('enter the icecream name->')
match(icecream):
    case "chocolate":
        print("chpcolate = 200.00")
    case "vanilla":
        print("vanilla = 100.00")
    case "strawberry":
        print("strawberry = 150.00")
    case _:
        print('not available')

not available