###### A tuple in python is similar to a list
a tuple ise created by placing all the items inside ().

In [1]:
my_tuple =(1,2,3)
print(my_tuple)

(1, 2, 3)

In [2]:
# tuple with mixed datatypes
my_tuple = (1,"Hello",3.4)
print(my_tuple)

(1, 'Hello', 3.4)

In [3]:
# nested tuple
my_tuple = ("mouse",[8,4,6],(1,2,3))
print(my_tuple)

('mouse', [8, 4, 6], (1, 2, 3))

In [4]:
# a tuple can also be created without using parenthesis
# this is known as a packing
my_tuple = 3,4.6,"Apple"
print(my_tuple)

(3, 4.6, 'Apple')

In [5]:
# indexing 
# we can use the index operator [] to access an item in a tuple, wherw  the index start from 0.
my_tuple = ('p','e','r','m','i','t')
print(my_tuple[0])
print(my_tuple[5])

p
t

In [7]:
n_tuple = ("mouse",[8,4,6],(1,2,3))
#nested index
print(n_tuple[0][3])
print(n_tuple[1][1])

# the index must be an integer, so we cannot use float or other types. this will result in TypeError

s
4

In [8]:
print(my_tuple[0:3])

('p', 'e', 'r')

In [9]:
# Accessing tuple element using slicing
my_tuple =  ('e','x','c','a','l','i','b','u','r')

In [10]:
# element 2nd to 4th
print(my_tuple[1:4])

('x', 'c', 'a')

In [11]:
# element begining to 2nd
print(my_tuple[:-7])

('e', 'x')

In [14]:
print(my_tuple[4:])
print(my_tuple[:])
print(my_tuple[7:])

('l', 'i', 'b', 'u', 'r')
('e', 'x', 'c', 'a', 'l', 'i', 'b', 'u', 'r')
('u', 'r')

In [15]:
# concatenation 
print((1,2,3)+(4,5,6))

(1, 2, 3, 4, 5, 6)

In [18]:
print(("Repeat",)*3)

('Repeat', 'Repeat', 'Repeat')

In [19]:
my_tuple = ('a','p','p','l','e')
print(my_tuple.count('p'))
print(my_tuple.index('l'))

2
3

Set

In [20]:
# a set is an unordered collection of items.
# Every element is unique
my_set = {1,2,3}
print(my_set)

{1, 2, 3}

In [21]:
# set of mixed datatypes
my_set = {1,'HELLO',(1,2,3)}
print(my_set)

{1, 'HELLO', (1, 2, 3)}

In [22]:
# set cannot have a duplicates 
my_set = {1,2,3,4,3,2}
print(my_set)

{1, 2, 3, 4}

In [23]:
# we can make set from a list
my_set = set([1,2,3,4,5])
print(my_set)

{1, 2, 3, 4, 5}

In [26]:
#my_set = {1,2,[3,4]}
#print(my_set)              #Error

# set cannot have mutable items
# here [3,4] is a mutable list
# this will cause a Error

#####Set union

In [27]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
print(A|B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [28]:
# use union function
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [29]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

####Set intersection

In [30]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
print(A&B)

{4, 5}

In [31]:
print(A-B)

{1, 2, 3}

In [32]:
#use difference function on A
A.difference(B)

{1, 2, 3}

In [33]:
# set symmetric difference
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [34]:
print(A^B)

{1, 2, 3, 6, 7, 8}

In [35]:
# use 
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [36]:
A = {'mouse','computer','cpu','LED'}
B= {'TV','LCD','Washing Machine','heater'}
print(A|B)

{'mouse', 'LED', 'computer', 'TV', 'Washing Machine', 'LCD', 'heater', 'cpu'}

In [37]:
print(A^B)

{'mouse', 'LED', 'computer', 'TV', 'Washing Machine', 'LCD', 'heater', 'cpu'}

In [8]:
s1 = {'heater', 'moter', 'Tv', 'oven','LED'}
s2 = {'cpu','mouse','computer','LED','heater'}
print(s1&s2)
print(s1^s2)
print(s1|s2)
s1.difference(s2)

{'LED', 'heater'}
{'moter', 'oven', 'mouse', 'Tv', 'cpu', 'computer'}
{'LED', 'moter', 'oven', 'mouse', 'heater', 'cpu', 'computer', 'Tv'}

{'Tv', 'moter', 'oven'}